@(student: Student)

@main("ProfileGeneral") {
    
<html>
	
	<head>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/tabs.css")">
	</head>
    
    <body>
		<div id="centeredmenu">
		   <ul>
		      <li><a href="" class="active">@(student.getLanguage().general())</a></li>
		      <li><a href="/profile/tutor">@(student.getLanguage().tutor())</a></li>
		   </ul>
		</div>
		
		<p> @(student.firstName) @(student.lastName) <br> </p>
		
		<form id="profile">
			@(student.getLanguage().email()): <input type="email" name="email" 
				value="@(student.eMail)"><br>
			@(student.getLanguage().address()): <input type="text" name="address" 
				value="@(student.address)" /> <br>
			@(student.getLanguage().studies()): TODO <br> 
			@(student.getLanguage().myLanguage()): TODO <br>
		</form> 
		
	</body>

</html>

}

