@(student: Student)

@main("ProfileTutorNotActive") {
    
<html>
	
	<head>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/profile.css")">
	</head>
    
    <body>
		<div id="centeredmenu">
		   <ul>
		      <li><a href="/profile" ">@(student.getLanguage().general())</a></li>
		      <li><a href="" class="active">@(student.getLanguage().tutor())</a></li>
		   </ul>
		</div>
		
		<p>
			@(student.getLanguage().wantToBeTutorText())
		</p>
		<!--Hier moet nog aan gewerkt worden: -->
		<form action="@(student.becomeTutor())">
	    	<input type="submit" value="@(student.getLanguage().activate())">
	    </form>
	</body>
	

</html>

}





