@(student: Student)

@main("Start") {
    
<html>
    <body>
    
    <button type="button" onclick=@Application.profile()>@(student.getLanguage().searchTutor())</button>
    
    <button type="button" onclick="alert('TODO')">@(student.getLanguage().myProfile())</button>
    
    <button type="button" onclick="alert('TODO')">@(student.getLanguage().myReviews())</button>
    
    <button type="button" onclick="alert('TODO')">@(student.getLanguage().calendar())</button>
    
    </body>
</html>
        
    
}