@(student: Student)

@main("Start") {
    
<html>
    <body>
    
    <form action="/searchTutor">
    <input type="submit" value="@(student.getLanguage().searchTutor())">
    </form>
    
    <form action="/profile">
    <input type="submit" value="@(student.getLanguage().myProfile())">
    </form>
    
    <form action="/reviews">
    <input type="submit" value="@(student.getLanguage().myReviews())">
    </form>
    
    <form action="/calendar">
    <input type="submit" value="@(student.getLanguage().calendar())">
    </form>
    
    </body>
</html>
        
    
}